@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900.carddisplay=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: #fff;
    min-height: 100%;
    overflow-x: hidden;
}

button {
    margin: auto;
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}





.tombol {
    display: grid;
}

.button {
    margin-top: 1%;
    background-color: #fff;
    border: none;
    padding: 15px 32px;
    display: inline-block;
    font-size: 1.5rem;
    border: 4px solid #4CAF50;
    border-radius: 4px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
    background-color: #4CAF50;
    /* White */
    color: #000;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/*Tulisan Button*/
.button a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    transition-duration: 0.4s;

}

.button a:hover {
    font-weight: bold;
    color: #fff;
}

.banner {
    width: 100%;
}

.banner .banner-wrapper .banner-bg {
    background: url(background.svg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 447px;
}


.caption h1 {
    color: #000;
    text-align: center;
    padding-top: 10%;
}

.caption p {
    padding-top: -2%;
    color: #000;
    text-align: center;
    letter-spacing: 1px;
}

.caption h2 {
    padding-top: -2%;
    color: #000;
    text-align: center;
    letter-spacing: 1px;
}


.logo-milad {
    position: relative;
    width: 194.5px;
    background-position: center;
    margin: 1% auto;
    display: grid;
}

.wrapper {
    height: 100%;
    background-color: #e6e6e6ff;
    padding: 50px;
}

.wrapper h1 {
    margin-top: 40px;
    text-align: center;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container1,
.container2 {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container1 {
    margin-top: 50px;
}

.container2 {
    margin-top: 100px;
}

.container1::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* The circles on the timeline */
.container2::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.line {
    background: -webkit-linear-gradient(#45b245ff 0%, #32c755ff 50%, #3cff00ff 100%);
    background: -o-linear-gradient(#45b245ff 0%, #32c755ff 50%, #3cff00ff 100%);
    background: linear-gradient(#45b245ff 0%, #32c755ff 50%, #3cff00ff 100%);
    width: 150px;
    height: 5px;
    margin-bottom: 10px !important;
    margin: auto;
}

.line-left {
    background: -webkit-linear-gradient(#45b245ff 0%, #32c755ff 50%, #3cff00ff 100%);
    background: -o-linear-gradient(#45b245ff 0%, #32c755ff 50%, #3cff00ff 100%);
    background: linear-gradient(#45b245ff 0%, #32c755ff 50%, #3cff00ff 100%);
    width: 150px;
    height: 5px;
    margin-bottom: 10px !important;
    margin-left: 100px;
}

.line-left-lomba {
    background: -webkit-linear-gradient(#45b245ff 0%, #32c755ff 50%, #3cff00ff 100%);
    background: -o-linear-gradient(#45b245ff 0%, #32c755ff 50%, #3cff00ff 100%);
    background: linear-gradient(#45b245ff 0%, #32c755ff 50%, #3cff00ff 100%);
    width: 150px;
    height: 5px;
    margin-bottom: 10px !important;
    margin-top: 2%;
    margin-left: 100px;
}

.card__image-container img {
    max-width: 100%;
}

.container_card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 750px;
    background: #444;
}

.card {
    position: relative;
    background: #333;
    width: 400px;
    height: 700px;
    border-radius: 6px;
    padding: 2rem;
    color: #aaa;
    box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.2),
        0 0 1rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card__image-container {
    margin: -2rem -2rem 1rem -2rem;
}

.card__line {
    opacity: 0;
    animation: LineFadeIn .8s .8s forwards ease-in;
}

.card__image {
    opacity: 0;
    animation: ImageFadeIn .8s 1.4s forwards;
}

.card__title {
    color: white;
    margin-top: 0;
    font-weight: 800;
    letter-spacing: 0.01em;
}

.card__content {
    margin-top: -1rem;
    opacity: 0;
    animation: ContentFadeIn .8s 1.6s forwards;
}

.card__content p {
    font-size: 14px;
}

.card__svg {
    position: absolute;
    left: 0;
    top: 115px;
}

@keyframes LineFadeIn {
    0% {
        opacity: 0;
        d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 ");
        stroke: #fff;
    }

    50% {
        opacity: 1;
        d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300");
        stroke: #888BFF;
    }

    100% {
        opacity: 1;
        d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400");
        stroke: #545581;
    }
}

.button_card {
    display: inline-block;
    margin-top: 10px;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-image: linear-gradient(to right, #348F50 0%, #289749 100%);
    border: none;
    border-radius: 15px;
}

@keyframes ContentFadeIn {
    0% {
        transform: translateY(-1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes ImageFadeIn {
    0% {
        transform: translate(-.5rem, -.5rem) scale(1.05);
        opacity: 0;
        filter: blur(2px);
    }

    50% {
        opacity: 1;
        filter: blur(2px);
    }

    100% {
        transform: translateY(0) scale(1.0);
        opacity: 1;
        filter: blur(0);
    }
}



/* Bio */
.jargon {
    text-align: center;
    padding: 8%;
}

.jargon h5 {
    font-size: 25px;
    font-weight: normal;
}

.jargon h5 span {
    font-weight: bold;
}

.section {
    background-color: white;
    height: 100%;
    padding: auto 10px;
}

.subsection {
    height: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 8%;
}

.subsection h5 {
    font-size: 25px;
}

.subsection p {
    font-size: 16px;
    font-weight: 400;
    display: block;
    box-sizing: border-box;
    width: 90%;
    color: #000;
    text-align: justify;
}

#notes {
    margin-top: 20px;
}

/* //Bio */

/* Content */
.container {
    background-color: #e6e6e6ff;
    width: 100%;
    margin-top: 10%;
    overflow: hidden;
}

/*  /Content */

#bio-media {
    display: flex;
    margin-left: 8%;
}

#peta {
    margin-left: 8%;
}

/* /Daftar */

/*Footer*/
.container-footer {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding-top: 70px;
}

.footer-col {
    width: 33.333%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col p {
    color: #bbbbbb;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #35845d;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer-bottom {
    background-color: #000;
    color: #fff;
    padding: auto auto;
    text-align: center;
    margin-top: 170px;
    width: 100%;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/*Footer*/

@media (max-width: 1230px) {
    .content {
        padding: 0 60px;
    }
}

@media (max-width: 1100px) {
    .content {
        padding: 0 40px;
    }
}

@media (max-width: 900px) {
    .content {
        padding: 0 30px;
    }
}

/* Bener*/
@media screen and (min-width: 800px) {
    #peta {
        width: 300px;
    }

    #profile-yt {
        width: 300px;
    }
}

@media screen and (max-width:767px) {
    .banner {
        margin-top: 0px;
    }

    .line-left,
    .line-left-lomba {
        margin-left: 8%;
    }

    #bio-media {
        display: flex;
        width: 50%;
        height: auto;
    }

    #peta {
        width: 300px;
    }

    #profile-yt {
        width: 300px;
    }

    .jargon {
        padding: 8% 7%;
    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container1,
    .container2 {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container2 {
        margin-top: 30px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container1::before,
    .container2::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }

    #bio-media {
        margin-left: 0;
        margin-top: 10px;
        height: auto;
        display: inline;
    }

    #peta {
        width: 600px;
        margin-left: 0;
    }

    #profile-yt {
        width: 600px;
    }
}

@media screen and (max-width: 480px) {
    .banner {
        height: 500px;
        width: 480px;
    }

    .banner .banner-wrapper {
        height: 770px;
    }

    .button {
        padding: 8px 16px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }

    .button:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
    }

    .button a {
        font-size: 1.2rem;
    }

    .caption {
        padding-top: 40px;
    }

    .caption h1 {
        font-size: 20px;
    }

    .jargon h5 {
        font-size: 26px;
        padding: 8% 0;
    }

    #bio-media {
        margin-left: 0;
        margin-top: 10px;
        height: auto;
        display: inline;
    }

    #peta {
        margin-left: 0;
        width: 480px;
    }

    .container {
        width: 480px;
    }

    .subsection p {
        font-size: 16px;
        width: 400px;
        margin-bottom: 10px;
        text-align: left;
    }

    .line-left {
        margin-left: 8%;
    }

    .line-left-lomba {
        margin-top: -10%;
        margin-left: 8%;
    }

    .lomba ul li {
        margin-left: 20px;
    }

    .footer-col {
        width: 100%;
    }

    .footer-col p {
        width: 350px;
    }

    .footer-bottom {
        font-size: 14px;
        width: 480px;
        margin: 0;
    }

}

@media screen and (max-width: 412px) {
    .banner {
        width: 412px;
        margin-top: 0;
    }

    .banner .banner-wrapper .banner-bg {
        height: 370px;
    }

    .caption h1 {
        font-size: 24px;
    }

    .caption h2,
    .caption p {
        letter-spacing: 0;
        padding: 0 10px;
    }

    .caption h2 {
        font-size: 20px;
    }

    .caption p {
        font-size: 14px;
    }

    .container {
        width: 412px;
    }

    .line {
        margin: auto;
        margin-bottom: 0;
    }

    .jargon h5 {
        font-size: 20px;
        width: 340px;
    }

    .subsection p {
        width: 350px;
    }

    #bio-media {
        margin-left: 0;
        margin-top: 10px;
        height: auto;
        display: inline;
    }

    #profile-yt {
        width: 412px;
    }

    #peta {
        margin-left: 0;
        width: 412px;
    }

    #lomba {
        margin-top: 100px;
    }

    .card__content p {
        font-size: 16px;
    }

    .footer-bottom {
        width: 412px;
    }

    .container1 h2,
    .container2 h2 {
        font-size: 18px;
    }

    .container1 p,
    .container2 p {
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {
    .banner .banner-wrapper .banner-bg {
        margin-top: -10%;
        height: 470px;
    }

    .line {
        text-align: center;
        margin-bottom: 0;
    }

    .jargon h5 {
        font-size: 20px;
        margin-left: -10px;
        width: 340px;
        margin-top: -5%;
        margin-bottom: -5%;
    }

    #bio-media {
        margin-left: 0;
        margin-top: 10px;
        height: auto;
        display: inline;
    }

    #profile-yt {
        width: 376px;
    }

    #peta {
        margin-left: 0;
        width: 376px;
    }

    #lomba {
        margin-top: 100px;
    }

    .banner {
        height: 650px;
        width: auto;
    }

    .subsection {
        width: 300px;
        padding: 2% 0;
        margin-left: 20px;
    }

    .subsection h5 {
        font-size: 24px;
    }

    .subsection p {
        font-size: 16px;
        width: 330px;
        margin-bottom: 10px;
        text-align: justify;
    }

    .line-left,
    .line-left-lomba {
        margin-left: 20px;
    }

    .banner .caption {
        margin-top: 10%;
        padding-top: 15%;
    }

    .banner .caption h1 {
        font-size: 20px;
        padding: 20px 28.8px;
        margin-top: 45px;
    }

    .banner .caption h2 {
        font-size: 22px;
    }

    .banner .caption p {
        padding: 0px 40px;
        font-size: 14px;
    }

    .card {
        width: 360px;
        padding: 0 2rem;
    }

    .card__content {
        width: 100%;
    }

    .button {
        margin: 5% 28%;
        padding: 15px 32px;
        font-size: 1rem;
    }

    .footer-bottom {
        font-size: 12px;
        height: 20px;
        width: 376px;
    }

    .wrapper {
        padding: 20px 50px;
        margin: 0 0 0 -35px;
    }

    .container1 h2,
    .container2 h2 {
        font-size: 18px;
    }

    .container1 p,
    .container2 p {
        font-size: 14px;
    }
}

@media screen and (max-width: 360px) {
    .line {
        text-align: center;
        margin-bottom: 0;
    }

    .container {
        width: 360px;
    }

    .jargon {
        padding: 0 10%;
    }

    .jargon h5 {
        font-size: 20px;
        margin: 0 0;
        width: 300px;
    }

    #bio-media {
        margin-left: 0;
        margin-top: 10px;
        height: auto;
        display: inline;
    }

    #profile-yt {
        width: 376px;
    }

    #peta {
        margin-left: 0;
        width: 376px;
    }

    #lomba {
        margin-top: 100px;
    }

    .banner {
        height: 650px;
        width: auto;
    }

    .subsection {
        width: 300px;
        padding: 2% 0;
        margin-left: 20px;
    }

    .subsection h5 {
        font-size: 24px;
    }

    .subsection p {
        font-size: 14px;
        width: 320px;
        margin-bottom: 10px;
        text-align: justify;
    }

    .line-left,
    .line-left-lomba {
        margin-left: 20px;
    }

    .banner .banner-wrapper .banner-bg {
        margin-top: -10%;
        height: 540px;
    }

    .banner .caption {
        margin-top: 10%;
        padding-top: 15%;
    }

    .banner .caption h1 {
        font-size: 20px;
        padding: 20px 28.8px;
        margin-top: 45px;
    }

    .banner .caption h2 {
        font-size: 22px;
    }

    .banner .caption p {
        padding: 0px 20px;
        font-size: 14px;
    }

    .container_card .card {
        width: 300px;
        padding: 0 2rem;
    }

    .card__content {
        width: 100%;
    }

    .footer-bottom {
        font-size: 12px;
        height: 20px;
        width: 360px;
    }

    .timeline h2 {
        font-size: 20px;
    }

    /* Full-width containers */
    .container1,
    .container2 {
        width: 105%;
        padding-left: 70px;
        padding-right: 0px;
    }

    .container2 {
        margin-top: 30px;
    }

    .container1 h2,
    .container2 h2 {
        font-size: 16px;
    }

    .container1 p,
    .container2 p {
        font-size: 14px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container1::before,
    .container2::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}
